body {
    background-color: rgb(0, 162, 255);
}

.kalp {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    animation: love 0.9s ease-in-out infinite;
}

.kalp::before,
.kalp::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

.kalp::before {
    border-radius: 50%;
    top: -50px;
    left: 0;


}

.kalp::after {
    border-radius: 50%;
    top: 0;
    left: 50px;
}

@keyframes love {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}